* {
    margin: 0;
    padding: 0;    
    color:#22744C; 
    font-family: Lilita One;
}

h1 { font-size: 2.5em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
p  { font-size: 1em; }

.cabecera-superior{    
    padding: 10px;
    background-color: #ffff0cdc; 
}

.banderas{
    
}






